<div class="password-recovery-main">
	<div class="password-icon"></div>
	<h2 class="password-title">Recuperar Contraseña</h2>
	<form method="get" class="password-form"  #formPasswordReset="ngForm" id="formPasswordReset">
		<!--<div class="password-errors">
			<p>El email ingresado no pertenece a ningun usuario.</p>
		</div>-->
		<div class="password-input-block">
			<i class="password-input-icon fa fa-envelope-o"></i>
			<input type="text" name="email" id="email" required email placeholder="Ingresá tu email" class="password-input">
		</div>
		<div class="password-submit-block">
			<button type="submit" class="password-btn" [disabled]="!formPasswordReset.valid">Recuperar Contraseña</button>
		</div>
	</form>
	<div class="password-footer">
		<p>¿Volver al Login? <a [routerLink]="['/login']"><b>Ingresá Ahora</b></a></p>
	</div>
</div>